# HP Python Refresher Assessment

## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [2]:
# Import required library and the dataset (index_col = 0, skiprows=1)
import numpy as np
import pandas as pd

df = pd.read_csv(r'C:\Users\bgsh\OneDrive - HP Inc\FY21\FY21\Adv_Python_ML\Aug20-2021\olympics.csv',index_col=0, skiprows=1)
df

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [3]:
# Observe the data using .head()
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [4]:
# Clean the colun name using for loop and if statement
# Column name '01' indicates as 'Gold', '02' indicates as 'Silver', '03' indicates as 'Bronze'. 
# Rename the columns name accordingly
# Replace '№' to '#'

df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [5]:
df.columns = [x.replace('№','#') for x in df.columns]
df.columns = [x.replace(('01 !'or '01 !.1'or '01 !.2'),'Gold') for x in df.columns]
df.columns = [x.replace(('02 !'or '02 !.1'or '02 !.2'),'Silver') for x in df.columns]
df.columns = [x.replace(('03 !'or '03 !.1'or '03 !.2'),'Bronze') for x in df.columns]

df.columns

Index(['# Summer', 'Gold', 'Silver', 'Bronze', 'Total', '# Winter', 'Gold.1',
       'Silver.1', 'Bronze.1', 'Total.1', '# Games', 'Gold.2', 'Silver.2',
       'Bronze.2', 'Combined total'],
      dtype='object')

In [6]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [7]:
# split the index by '(' in a new variable 'names_ids'


# Replace the index to new variable 
df.index

Index(['Afghanistan (AFG)', 'Algeria (ALG)', 'Argentina (ARG)',
       'Armenia (ARM)', 'Australasia (ANZ) [ANZ]', 'Australia (AUS) [AUS] [Z]',
       'Austria (AUT)', 'Azerbaijan (AZE)', 'Bahamas (BAH)', 'Bahrain (BRN)',
       ...
       'Uzbekistan (UZB)', 'Venezuela (VEN)', 'Vietnam (VIE)',
       'Virgin Islands (ISV)', 'Yugoslavia (YUG) [YUG]',
       'Independent Olympic Participants (IOP) [IOP]', 'Zambia (ZAM) [ZAM]',
       'Zimbabwe (ZIM) [ZIM]', 'Mixed team (ZZX) [ZZX]', 'Totals'],
      dtype='object', length=147)

In [8]:
df1 = df.reset_index()
df1.head()

,index,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [9]:
df1['Country'],df1['ID'] = df1['index'].str.split('(',1).str

df1

<ipython-input-9-54be31e68029>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df1['Country'],df1['ID'] = df1['index'].str.split('(',1).str

,index,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,Country,ID
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan,AFG)
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria,ALG)
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina,ARG)
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia,ARM)
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia,ANZ) [ANZ]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,Independent Olympic Participants,IOP) [IOP]
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,Zambia,ZAM) [ZAM]
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,Zimbabwe,ZIM) [ZIM]
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,Mixed team,ZZX) [ZZX]
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,Totals,NaN

In [10]:
df2 = df1.set_index('Country')
df2.drop(columns='index', inplace = True)
df2.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Country,,,,,,,,,,,,,,,,
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG)
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG)
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG)
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM)
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ) [ANZ]

In [11]:
# Create a new column 'ID' which consist of the first 3 characters of the country name

df2['ID'] = df2['ID'].str[:3]

df2.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Country,,,,,,,,,,,,,,,,
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [30]:
## Expected outcome for your reference, don't run this script, else the sample will be replaced !!!
# df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [12]:
# Check the data size
df2.shape

(147, 16)

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [14]:
# Use max pre-defined function in pandas and mask to display the outcome
df2.drop(df2.tail(1).index,inplace=True)

In [16]:
df2.tail()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Country,,,,,,,,,,,,,,,,
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX

In [17]:
import numpy as np
np.argmax(df2['Gold'])
df2.iloc[135].name()

'United States\xa0'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [18]:
# Create a new column "Diff" can help you to get the max
(df2['Gold']- df2['Gold.1']).abs().argmax()

df2.iloc[135].name

'United States\xa0'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

In [19]:
# Create a copy of original dataset that only include contries that have won at least 1 gold in both summer and winter
df2_atleastonegold = df2[(df2['Gold']>=1) & (df2['Gold.1']>=1)]
df2_atleastonegold

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Country,,,,,,,,,,,,,,,,
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO
Czech Republic,5,14,15,15,44,6,7,9,8,24,11,21,24,23,68,CZE
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH
Estonia,11,9,9,15,33,9,4,2,1,7,20,13,11,16,40,EST
Finland,24,101,84,117,302,22,42,62,57,161,46,143,146,174,463,FIN
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA
Germany,15,174,182,217,573,11,78,78,53,209,26,252,260,270,782,GER
United Team of Germany,3,28,54,36,118,3,8,6,5,19,6,36,60,41,137,EUA
East Germany,5,153,129,127,409,6,39,36,35,110,11,192,165,162,519,GDR
West Germany,5,56,67,81,204,6,11,15,13,39,11,67,82,94,243,FRG
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR
Italy,26,198,166,185,549,22,37,34,43,114,48,235,200,228,663,ITA
Japan,21,130,126,142,398,20,10,17,18,45,41,140,143,160,443,JPN
Kazakhstan,5,16,17,19,52,6,1,3,3,7,11,17,20,22,59,KAZ
South Korea,16,81,82,80,243,17,26,17,10,53,33,107,99,90,296,KOR
Netherlands,25,77,85,104,266,20,37,38,35,110,45,114,123,139,376,NED
Norway,24,56,49,43,148,22,118,111,100,329,46,174,160,143,477,NOR
Poland,20,64,82,125,271,22,6,7,7,20,42,70,89,132,291,POL
Russia,5,132,121,142,395,6,49,40,35,124,11,181,161,177,519,RUS
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS
Unified Team,1,45,38,29,112,1,9,6,8,23,2,54,44,37,135,EUN
Slovakia,5,7,9,8,24,6,2,2,1,5,11,9,11,9,29,SVK
Slovenia,6,4,6,9,19,7,2,4,9,15,13,6,10,18,34,SLO
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,UZB

In [21]:
# Create a new column 'Relative_Diff' that use the above formula and answer the question
Relative_Diff = (df2_atleastonegold['Gold'] - df2_atleastonegold['Gold.1']).abs()/df2_atleastonegold.Total
Relative_Diff.head()

Country
Australia     0.286325
Austria       0.476744
Belarus       0.080000
Belgium       0.253521
Bulgaria      0.233645
dtype: float64

In [23]:
df2_atleastonegold['Relative_Diff'] = Relative_Diff
df2_atleastonegold

<ipython-input-23-ef9f18811f78>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_atleastonegold['Relative_Diff'] = Relative_Diff

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,Relative_Diff
Country,,,,,,,,,,,,,,,,,
Australia,25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0,AUS,0.286325
Austria,26.0,18.0,33.0,35.0,86.0,22.0,59.0,78.0,81.0,218.0,48.0,77.0,111.0,116.0,304.0,AUT,0.476744
Belarus,5.0,12.0,24.0,39.0,75.0,6.0,6.0,4.0,5.0,15.0,11.0,18.0,28.0,44.0,90.0,BLR,0.080000
Belgium,25.0,37.0,52.0,53.0,142.0,20.0,1.0,1.0,3.0,5.0,45.0,38.0,53.0,56.0,147.0,BEL,0.253521
Bulgaria,19.0,51.0,85.0,78.0,214.0,19.0,1.0,2.0,3.0,6.0,38.0,52.0,87.0,81.0,220.0,BUL,0.233645
Canada,25.0,59.0,99.0,121.0,279.0,22.0,62.0,56.0,52.0,170.0,47.0,121.0,155.0,173.0,449.0,CAN,0.010753
China,9.0,201.0,146.0,126.0,473.0,10.0,12.0,22.0,19.0,53.0,19.0,213.0,168.0,145.0,526.0,CHN,0.399577
Croatia,6.0,6.0,7.0,10.0,23.0,7.0,4.0,6.0,1.0,11.0,13.0,10.0,13.0,11.0,34.0,CRO,0.086957
Czech Republic,5.0,14.0,15.0,15.0,44.0,6.0,7.0,9.0,8.0,24.0,11.0,21.0,24.0,23.0,68.0,CZE,0.159091
Czechoslovakia,16.0,49.0,49.0,45.0,143.0,16.0,2.0,8.0,15.0,25.0,32.0,51.0,57.0,60.0,168.0,TCH,0.328671
Estonia,11.0,9.0,9.0,15.0,33.0,9.0,4.0,2.0,1.0,7.0,20.0,13.0,11.0,16.0,40.0,EST,0.151515
Finland,24.0,101.0,84.0,117.0,302.0,22.0,42.0,62.0,57.0,161.0,46.0,143.0,146.0,174.0,463.0,FIN,0.195364
France,27.0,202.0,223.0,246.0,671.0,22.0,31.0,31.0,47.0,109.0,49.0,233.0,254.0,293.0,780.0,FRA,0.254844
Germany,15.0,174.0,182.0,217.0,573.0,11.0,78.0,78.0,53.0,209.0,26.0,252.0,260.0,270.0,782.0,GER,0.167539
United Team of Germany,3.0,28.0,54.0,36.0,118.0,3.0,8.0,6.0,5.0,19.0,6.0,36.0,60.0,41.0,137.0,EUA,0.169492
East Germany,5.0,153.0,129.0,127.0,409.0,6.0,39.0,36.0,35.0,110.0,11.0,192.0,165.0,162.0,519.0,GDR,0.278729
West Germany,5.0,56.0,67.0,81.0,204.0,6.0,11.0,15.0,13.0,39.0,11.0,67.0,82.0,94.0,243.0,FRG,0.220588
Great Britain,27.0,236.0,272.0,272.0,780.0,22.0,10.0,4.0,12.0,26.0,49.0,246.0,276.0,284.0,806.0,GBR,0.289744
Italy,26.0,198.0,166.0,185.0,549.0,22.0,37.0,34.0,43.0,114.0,48.0,235.0,200.0,228.0,663.0,ITA,0.293260
Japan,21.0,130.0,126.0,142.0,398.0,20.0,10.0,17.0,18.0,45.0,41.0,140.0,143.0,160.0,443.0,JPN,0.301508
Kazakhstan,5.0,16.0,17.0,19.0,52.0,6.0,1.0,3.0,3.0,7.0,11.0,17.0,20.0,22.0,59.0,KAZ,0.288462
South Korea,16.0,81.0,82.0,80.0,243.0,17.0,26.0,17.0,10.0,53.0,33.0,107.0,99.0,90.0,296.0,KOR,0.226337
Netherlands,25.0,77.0,85.0,104.0,266.0,20.0,37.0,38.0,35.0,110.0,45.0,114.0,123.0,139.0,376.0,NED,0.150376
Norway,24.0,56.0,49.0,43.0,148.0,22.0,118.0,111.0,100.0,329.0,46.0,174.0,160.0,143.0,477.0,NOR,0.418919
Poland,20.0,64.0,82.0,125.0,271.0,22.0,6.0,7.0,7.0,20.0,42.0,70.0,89.0,132.0,291.0,POL,0.214022
Russia,5.0,132.0,121.0,142.0,395.0,6.0,49.0,40.0,35.0,124.0,11.0,181.0,161.0,177.0,519.0,RUS,0.210127
Soviet Union,9.0,395.0,319.0,296.0,1010.0,9.0,78.0,57.0,59.0,194.0,18.0,473.0,376.0,355.0,1204.0,URS,0.313861
Unified Team,1.0,45.0,38.0,29.0,112.0,1.0,9.0,6.0,8.0,23.0,2.0,54.0,44.0,37.0,135.0,EUN,0.321429
Slovakia,5.0,7.0,9.0,8.0,24.0,6.0,2.0,2.0,1.0,5.0,11.0,9.0,11.0,9.0,29.0,SVK,0.208333
Slovenia,6.0,4.0,6.0,9.0,19.0,7.0,2.0,4.0,9.0,15.0,13.0,6.0,10.0,18.0,34.0,SLO,0.105263
Spain,22.0,37.0,59.0,35.0,131.0,19.0,1.0,0.0,1.0,2.0,41.0,38.0,59.0,36.0,133.0,ESP,0.274809
Sweden,26.0,143.0,164.0,176.0,483.0,22.0,50.0,40.0,54.0,144.0,48.0,193.0,204.0,230.0,627.0,SWE,0.192547
Switzerland,27.0,47.0,73.0,65.0,185.0,22.0,50.0,40.0,48.0,138.0,49.0,97.0,113.0,113.0,323.0,SUI,0.016216
Ukraine,5.0,33.0,27.0,55.0,115.0,6.0,2.0,1.0,4.0,7.0,11.0,35.0,28.0,59.0,122.0,UKR,0.269565
United States,26.0,976.0,757.0,666.0,2399.0,22.0,96.0,102.0,84.0,282.0,48.0,1072.0,859.0,750.0,2681.0,USA,0.366820
Uzbekistan,5.0,5.0,5.0,10.0,20.0,6.0,1.0,0.0,0.0,1.0,11.0,6.0,5.0,10.0,21.0,UZB,0.200000
Relative_Diff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df2_atleastonegold.drop(df2_atleastonegold.tail(1).index,inplace=True)

C:\Users\bgsh\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [26]:
df2_atleastonegold

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,Relative_Diff
Country,,,,,,,,,,,,,,,,,
Australia,25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0,AUS,0.286325
Austria,26.0,18.0,33.0,35.0,86.0,22.0,59.0,78.0,81.0,218.0,48.0,77.0,111.0,116.0,304.0,AUT,0.476744
Belarus,5.0,12.0,24.0,39.0,75.0,6.0,6.0,4.0,5.0,15.0,11.0,18.0,28.0,44.0,90.0,BLR,0.080000
Belgium,25.0,37.0,52.0,53.0,142.0,20.0,1.0,1.0,3.0,5.0,45.0,38.0,53.0,56.0,147.0,BEL,0.253521
Bulgaria,19.0,51.0,85.0,78.0,214.0,19.0,1.0,2.0,3.0,6.0,38.0,52.0,87.0,81.0,220.0,BUL,0.233645
Canada,25.0,59.0,99.0,121.0,279.0,22.0,62.0,56.0,52.0,170.0,47.0,121.0,155.0,173.0,449.0,CAN,0.010753
China,9.0,201.0,146.0,126.0,473.0,10.0,12.0,22.0,19.0,53.0,19.0,213.0,168.0,145.0,526.0,CHN,0.399577
Croatia,6.0,6.0,7.0,10.0,23.0,7.0,4.0,6.0,1.0,11.0,13.0,10.0,13.0,11.0,34.0,CRO,0.086957
Czech Republic,5.0,14.0,15.0,15.0,44.0,6.0,7.0,9.0,8.0,24.0,11.0,21.0,24.0,23.0,68.0,CZE,0.159091
Czechoslovakia,16.0,49.0,49.0,45.0,143.0,16.0,2.0,8.0,15.0,25.0,32.0,51.0,57.0,60.0,168.0,TCH,0.328671
Estonia,11.0,9.0,9.0,15.0,33.0,9.0,4.0,2.0,1.0,7.0,20.0,13.0,11.0,16.0,40.0,EST,0.151515
Finland,24.0,101.0,84.0,117.0,302.0,22.0,42.0,62.0,57.0,161.0,46.0,143.0,146.0,174.0,463.0,FIN,0.195364
France,27.0,202.0,223.0,246.0,671.0,22.0,31.0,31.0,47.0,109.0,49.0,233.0,254.0,293.0,780.0,FRA,0.254844
Germany,15.0,174.0,182.0,217.0,573.0,11.0,78.0,78.0,53.0,209.0,26.0,252.0,260.0,270.0,782.0,GER,0.167539
United Team of Germany,3.0,28.0,54.0,36.0,118.0,3.0,8.0,6.0,5.0,19.0,6.0,36.0,60.0,41.0,137.0,EUA,0.169492
East Germany,5.0,153.0,129.0,127.0,409.0,6.0,39.0,36.0,35.0,110.0,11.0,192.0,165.0,162.0,519.0,GDR,0.278729
West Germany,5.0,56.0,67.0,81.0,204.0,6.0,11.0,15.0,13.0,39.0,11.0,67.0,82.0,94.0,243.0,FRG,0.220588
Great Britain,27.0,236.0,272.0,272.0,780.0,22.0,10.0,4.0,12.0,26.0,49.0,246.0,276.0,284.0,806.0,GBR,0.289744
Italy,26.0,198.0,166.0,185.0,549.0,22.0,37.0,34.0,43.0,114.0,48.0,235.0,200.0,228.0,663.0,ITA,0.293260
Japan,21.0,130.0,126.0,142.0,398.0,20.0,10.0,17.0,18.0,45.0,41.0,140.0,143.0,160.0,443.0,JPN,0.301508
Kazakhstan,5.0,16.0,17.0,19.0,52.0,6.0,1.0,3.0,3.0,7.0,11.0,17.0,20.0,22.0,59.0,KAZ,0.288462
South Korea,16.0,81.0,82.0,80.0,243.0,17.0,26.0,17.0,10.0,53.0,33.0,107.0,99.0,90.0,296.0,KOR,0.226337
Netherlands,25.0,77.0,85.0,104.0,266.0,20.0,37.0,38.0,35.0,110.0,45.0,114.0,123.0,139.0,376.0,NED,0.150376
Norway,24.0,56.0,49.0,43.0,148.0,22.0,118.0,111.0,100.0,329.0,46.0,174.0,160.0,143.0,477.0,NOR,0.418919
Poland,20.0,64.0,82.0,125.0,271.0,22.0,6.0,7.0,7.0,20.0,42.0,70.0,89.0,132.0,291.0,POL,0.214022
Russia,5.0,132.0,121.0,142.0,395.0,6.0,49.0,40.0,35.0,124.0,11.0,181.0,161.0,177.0,519.0,RUS,0.210127
Soviet Union,9.0,395.0,319.0,296.0,1010.0,9.0,78.0,57.0,59.0,194.0,18.0,473.0,376.0,355.0,1204.0,URS,0.313861
Unified Team,1.0,45.0,38.0,29.0,112.0,1.0,9.0,6.0,8.0,23.0,2.0,54.0,44.0,37.0,135.0,EUN,0.321429
Slovakia,5.0,7.0,9.0,8.0,24.0,6.0,2.0,2.0,1.0,5.0,11.0,9.0,11.0,9.0,29.0,SVK,0.208333
Slovenia,6.0,4.0,6.0,9.0,19.0,7.0,2.0,4.0,9.0,15.0,13.0,6.0,10.0,18.0,34.0,SLO,0.105263
Spain,22.0,37.0,59.0,35.0,131.0,19.0,1.0,0.0,1.0,2.0,41.0,38.0,59.0,36.0,133.0,ESP,0.274809
Sweden,26.0,143.0,164.0,176.0,483.0,22.0,50.0,40.0,54.0,144.0,48.0,193.0,204.0,230.0,627.0,SWE,0.192547
Switzerland,27.0,47.0,73.0,65.0,185.0,22.0,50.0,40.0,48.0,138.0,49.0,97.0,113.0,113.0,323.0,SUI,0.016216
Ukraine,5.0,33.0,27.0,55.0,115.0,6.0,2.0,1.0,4.0,7.0,11.0,35.0,28.0,59.0,122.0,UKR,0.269565
United States,26.0,976.0,757.0,666.0,2399.0,22.0,96.0,102.0,84.0,282.0,48.0,1072.0,859.0,750.0,2681.0,USA,0.366820
Uzbekistan,5.0,5.0,5.0,10.0,20.0,6.0,1.0,0.0,0.0,1.0,11.0,6.0,5.0,10.0,21.0,UZB,0.200000

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [28]:
# Create your function here

In [27]:
# After the function creation, please list down the top 5 countries that has the highest point

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [27]:
# Read data
df_census = pd.read_csv(r'C:\Users\bgsh\OneDrive - HP Inc\FY21\FY21\Adv_Python_ML\Aug20-2021\census.csv')
df_census

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [30]:
# Create a new dataset with no missing value and set ['STNAME','CTYNAME'] as index
# Hint the mask will need to use 'SUMLEV' to get the correct value
print(df_census.isnull().values.any())

False

In [31]:
df_census.set_index(['STNAME', 'CTYNAME'],inplace = True)

In [32]:
df_census

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Alabama                40       3         6      1       0
        Autauga County         50       3         6      1       1
        Baldwin County         50       3         6      1       3
        Barbour County         50       3         6      1       5
        Bibb County            50       3         6      1       7
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County      50       4         8     56      37
        Teton County           50       4         8     56      39
        Uinta County           50       4         8     56      41
        Washakie County        50       4         8     56      43
        Weston County          50       4         8     56      45

                           CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Alabama                  4779736            4780127          4785161
        Autauga County             54571              54571            54660
        Baldwin County            182265             182265           183193
        Barbour County             27457              27457            27341
        Bibb County                22915              22919            22861
...                                  ...                ...              ...
Wyoming Sweetwater County          43806              43806            43593
        Teton County               21294              21294            21297
        Uinta County               21118              21118            21102
        Washakie County             8533               8533             8545
        Weston County               7208               7208             7181

                           POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                              ...
Alabama Alabama                    4801108          4816089  ...
        Autauga County               55253            55175  ...
        Baldwin County              186659           190396  ...
        Barbour County               27226            27159  ...
        Bibb County                  22733            22642  ...
...                                    ...              ...  ...
Wyoming Sweetwater County            44041            45104  ...
        Teton County                 21482            21697  ...
        Uinta County                 20912            20989  ...
        Washakie County               8469             8443  ...
        Weston County                 7114             7065  ...

                           RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME
Alabama Alabama                    0.002295         -0.193196
        Autauga County             7.242091         -2.915927
        Baldwin County            14.832960         17.647293
        Barbour County            -4.728132         -2.500690
        Bibb County               -5.527043         -5.068871
...                                     ...               ...
Wyoming Sweetwater County          1.072643         16.243199
        Teton County              -1.589565          0.972695
        Uinta County             -17.755986         -4.916350
        Washakie County          -11.637475         -0.827815
        Weston County            -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Alabama                    0.381066          0.582002
        Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Alabama                   -0.467369     1.030015     0.826644
        Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Alabama               1.383282     1.724718     0.712594
        Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3193 rows x 98 columns]

In [190]:
# Expected outcome of the data frame for your reference
# Don't run this script, else the sample will be replaced !!!

                        SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County    50.0     3.0       6.0    1.0     1.0
        Baldwin County    50.0     3.0       6.0    1.0     3.0
        Barbour County    50.0     3.0       6.0    1.0     5.0
        Bibb County       50.0     3.0       6.0    1.0     7.0
        Blount County     50.0     3.0       6.0    1.0     9.0

                        CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County        54571.0            54571.0          54660.0
        Baldwin County       182265.0           182265.0         183193.0
        Barbour County        27457.0            27457.0          27341.0
        Bibb County           22915.0            22919.0          22861.0
        Blount County         57322.0            57322.0          57373.0

                        POPESTIMATE2011  POPESTIMATE2012     ...       \
STNAME  CTYNAME                                              ...
Alabama Autauga County          55253.0          55175.0     ...
        Baldwin County         186659.0         190396.0     ...
        Barbour County          27226.0          27159.0     ...
        Bibb County             22733.0          22642.0     ...
        Blount County           57711.0          57776.0     ...

                        RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME  CTYNAME
Alabama Autauga County          7.242091         -2.915927         -3.012349
        Baldwin County         14.832960         17.647293         21.845705
        Barbour County         -4.728132         -2.500690         -7.056824
        Bibb County            -5.527043         -5.068871         -6.201001
        Blount County           1.807375         -1.177622         -1.748766

                        RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  \
STNAME  CTYNAME
Alabama Autauga County          2.265971         -2.530799     7.606016
        Baldwin County         19.243287         17.197872    15.844176
        Barbour County         -3.904217        -10.543299    -4.874741
        Bibb County            -0.177537          0.177258    -5.088389
        Blount County          -2.062535         -1.369970     1.859511

                        RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County    -2.626146    -2.722002     2.592270    -2.187333
        Baldwin County    18.559627    22.727626    20.317142    18.293499
        Barbour County    -2.758113    -7.167664    -3.978583   -10.543299
        Bibb County       -4.363636    -5.403729     0.754533     1.107861
        Blount County     -0.848580    -1.402476    -1.577232    -0.884411

[5 rows x 98 columns]

In [192]:
# Obtain the state name with highest "COUNTY"

STNAME
Texas    254
Name: COUNTY, dtype: int64

In [33]:
def mostcounties():
    df=df_census[df_census['SUMLEV'] == 50]
    df = df.groupby( [ "SUMLEV", "STNAME"] ).size().to_frame(name = 'count').reset_index()
    return df.loc[df['count'].idxmax()]['STNAME']
mostcounties()

'Texas'

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [34]:
def populous_states():
    df=df_census[df_census['SUMLEV'] == 50]
    df1=df.sort_values(['STNAME','CENSUS2010POP'],ascending=False).groupby('STNAME').head(3).copy()
    df2 = df1.reset_index().groupby("STNAME").sum().sort_values(['CENSUS2010POP'],ascending=False).head(3).copy()
    return list(df2.index.values)
populous_states()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [175]:
# Reset the index

In [199]:
# Create a data frame only consist of the population columns within period 2010-2015

In [34]:
# Obtain the max and mix and apply the state formula
# Hint: Please ensure you use the correct axis level

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*